# beszel
monitoring/beszel/*

# uptime-kuma
monitoring/uptime-kuma/*

# vaultwarden
infrastructure/vaultwarden/*

# zerobyte
infrastructure/zerobyte/*

# immich
media/immich/*

# NPM
networking/nginx-proxy-manager/*

# pi-hole
networking/pi-hole/*

# global
*.env*
**/private/
!*docker-compose.yaml
!*.env.example