# infrastructure
infrastructure/zerobyte/*

# media
media/immich/*

# monitoring
monitoring/beszel/*
monitoring/uptime-kuma/*

# networking
networking/nginx-proxy-manager/*
networking/pi-hole/*

# security
security/vaultwarden/*

# tool
tool/ntfy/*

# python
__pycache__/

# global
*.env*
**/private/
!*docker-compose.yaml
!*.env.example
todo
