# image
VERSION=vx.x.x

# environment
MY_SECRET_TOKEN=xxxxx
HOME_URL=xxx

# widget
IMMICH_URL=https://xxx
IMMICH_KEY=xxx

UPTIME_KUMA_URL=https://xxx
UPTIME_KUMA_STATUS_SLUG=xxx

DNS_STATS_URL=https://xxx
DNS_STATS_USERNAME=xxx
DNS_STATS_PASSWORD=xxx

PAPRA_URL=xxx
ORGANISATION_ID=xxx
API_KEY=xxx